<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>BeeStation 13 Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>

	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}

  </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Furbee Station 13</b></font></div>

			<p><div align='center'><font size='3'><a href="https://letmegooglethat.com/?q=space+movie+from+1992">Site</a> | <a href="https://wiki.beestation13.com/">Wiki</a> | <a href="https://github.com/Slouista/FurbeeStation13-Mainline">Source</a></font></div></p>
			<font size='2'><b>Join our Discord </b><a href=https://discord.gg/69WsShCdxa>Here!</a></font>
			</td>
	</tr>
</table>

<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Current Project Maintainers:</b> Slouista<br></font>
			<font size='2'><b>Currently Active GitHub contributor list:</b> Slouista, Jizzard<br></font>
			<font size='2'><b>Coders:</b> Slouista, Jizzard, jbox144 compilatron<br></font>
			<font size='2'><b>Spriters:</b> Jizzard, Slouista<br></font>
			<font size='2'><b>Mappers:</b> Slouista, jbox144 compilatron<br></font>
			<font size='2'><b>Sounds:</b> <br></td></font>
			<font size='2'><b>Thanks to:</b> AuStation, Beestation, Hyperstation, Citadel, /tg/Station 13, Baystation 12, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs, the original SpaceStation developers.<br> Also a thanks to anybody who has contributed who is not listed here :( Ask to be added here on the forums/Discord.</font>
			<font size='2' color='red'><b><br>Have a bug to report?</b> Visit our <a href="https://discord.gg/69WsShCdxa">Discord</a>.<br></font>
			<font size='2'>Please note we are a very small amature project, if you need anything or would like to contribute code or advice please do hit us up and have mercy!</b></a></u>.</font>
		</td>
	</tr>
</table>

		<!--

		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE.

		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***

		-->
		<div class="commit sansserif">
